body {

}

h1
{
    color: #707070;
}

.jumbotron {
    background-color: #CCFFFF;
    padding-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-fixed-bottom {
    padding-top: 0px;
}

.col-md-3 {
    padding-bottom: 100px;
}

.col-md-3 {
    padding-top: 15px;
}

.navbar-static-top{
    padding-bottom: none;
    margin-bottom: 0px;
}

.mybutton {
    color:red;
}


.hide {
    display: none;
}

dt
{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid white;
}

dt:first-child { border-top: none;}
dt:nth-last-child(2) { border-bottom: none;

.myCarousel {
    padding-top: 0px;
}
